# #!/usr/bin/perl
snippet #!
	#!/usr/bin/env perl

snippet sub
	sub ${$:function_name} {
		my $self = shift;
			${@:...}
	}

snippet cl
	package ${1:ClassName};

	use base '${2:ParentClass}';

	sub new {
		my $self = bless {}, shift;
	}

	1;${3}

	=head1 NAME
	
	=head1 DESCRIPTION

	=head1 USAGE

	=head1 METHODS

	=head1 AUTHOR

	=cut
